# Python & Django Internals
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Local secrets
.env

# Database
*.sqlite3

# Mac OS
.DS_Store

# Media & Static Files
media/
staticfiles/
